/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
div.statusbar-organizer-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100%;
}

div.statusbar-organizer-entry {
  background: var(--background-primary-alt);
  color: var(--text-normal);
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: 1.5em 1fr 1fr 4em;
  padding: 0.5em 1em;
  width: 100%;
}

div.statusbar-organizer-entry > span {
  display: inline-block;
  height: 1.75em;
  line-height: 0.7;
  padding: 0.5em 0em;
}

span.statusbar-organizer-handle {
  padding: 0 !important;
  cursor: move;
}

span.statusbar-organizer-handle::after {
  content: '·· ·· ·· ··';
  display: inline-block;
  height: 1.75em;
  line-height: 0.25rem;
  padding: 0.275em 0em;
  width: 1em;
  word-wrap: normal;
}

span.statusbar-organizer-preview {
  border-radius: 0.25em;
  margin-top: 0.2em;
  padding: 0.5em !important;
  font-size: 0.8rem;
  background: var(--background-secondary-alt);
}

span.statusbar-organizer-visibility {
  padding-top: 0.3em !important;
  cursor: pointer;
  text-align: right;
}

div.statusbar-organizer-hidden {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
  width: 0;
  display: none;
}

div.statusbar-organizer-drag {
  position: fixed;
  background: var(--background-modifier-active-hover)
}

div.statusbar-organizer-drag > span.statusbar-organizer-preview {
  opacity: 0.9;
}

div.statusbar-organizer-clone {
  background: transparent;
}

div.statusbar-organizer-clone > span {
  visibility: hidden !important;
}

div.statusbar-organizer-disabled {
  color: var(--text-faint);
  opacity: 0.75;
}
